@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex();
  position: relative;
  margin-bottom: $header-margin-bottom;
  height: $header-height;

  &__title {
    font-size: $header-title-font-size;
    line-height: $header-title-line-height;
    color: $header-title-color;
  }

  &__close {
    cursor: pointer;
    width: $header-close-icon-width;
    height: $header-close-icon-height;
    position: absolute;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $content-gap;

  &__filter {
    @include flex(space-between, center);
    height: $filter-height;

    .locale-dropdown {
      position: absolute;
      top: $locale-dropdown-top;
      left: $locale-dropdown-left;
      width: $locale-width;
      background-color: $locale-background-color;
      border-radius: $locale-border-radius;
      z-index: 50;

      &__item {
        padding: $locale-item-padding;
        cursor: pointer;
        font-size: $locale-item-font-size;
        color: $locale-item-color;
      }
    }

    &__item {
      @include filter-item();
    }
    &__yearNumber {
      @include filter-item();
      margin: auto;
    }
  }

  &__months {
    @include calendar-grid($calender-grid-columns, $calender-grid-rows, $month-height, $month-width);

    &__month {
      border: $month-border;
      border-radius: $month-border-radius;
      height: $month-height;
      line-height: $month-line-height;
      font-size: $month-font-size;
      color: $month-color;
      @include flex();
      cursor: pointer;
      transition: all 0.2s ease;

      &--selected {
        background-color: $month-selected-background-color;
        color: $month-selected-color;
      }
    }
  }

  &__years {
    @include calendar-grid($calender-grid-columns, $calender-grid-rows, $year-height, $year-width);
    padding-right: $years-padding-right;
    direction: ltr;

    &__year {
      border: $year-border;
      border-radius: $year-border-radius;
      height: $year-height;
      @include flex();
      line-height: $year-line-height;
      font-size: $year-font-size;
      color: $year-color;
      cursor: pointer;
      transition: all 0.2s ease;

      &--selected {
        background-color: $year-selected-background-color;
        color: $year-selected-color;
      }
    }

    &::-webkit-scrollbar {
      width: $scrollbar-width-sm;
    }

    &::-webkit-scrollbar-track {
      border-radius: $scrollbar-track-border-radius;
      background-color: $scrollbar-track-background-color;
      border-left: $scrollbar-track-border-left;
      border-right: $scrollbar-track-border-right;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $scrollbar-thumb-border-radius;
      background-color: $scrollbar-thumb-background-color;
    }
  }

  &__weekdays {
    height: $weekday-height;
    @include flex(space-between, center);
    background-color: $weekday-background-color;
    border-radius: $weekday-border-radius;
    padding-inline: $weekday-padding-inline;

    &__day {
      width: $weekday-width;
      line-height: $weekday-height;
      text-align: center;
      font-size: $weekday-day-font-size;
      color: $weekday-day-color;
    }
  }

  &__days {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, $day-size); // 7 is not a magic number it's 7 days in a week :)
    grid-auto-rows: $day-size;
    gap: $days-gap;
    position: relative;

    &__week-gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $day-gradient;
      border-radius: $day-gradient-radius;
      z-index: 0;
      pointer-events: none;
    }

    &__day {
      border-radius: $day-border-radius;
      position: relative;
      z-index: 1;
      font-size: $day-font-size;
      color: $day-color;
      cursor: pointer;
      @include flex();
      transition: all 0.2s ease;

      &:hover {
        background-color: $primary-200;
      }

      &--today {
        font-size: $text-today-size;
        color: $text-today-color;
        line-height: $text-today-line;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &--selected,
      &--range-start,
      &--range-end {
        background-color: $range-background-color;
        color: $range-hover-color;

        &:hover {
          background-color: $range-hover-background-color;
        }

        & > * {
          color: $range-hover-color;
        }
      }

      &--not-current {
        color: $text-not-current-color;
      }
    }
  }
}

@media (max-width: $md) {
  .header,
  .content {
    display: none;
  }
}
