@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.calender {
  width: var(--calender-width);
  height: var(--calender-height);
  display: none;
  gap: var(--calender-gap);
  justify-content: center;
  align-items: center;

  &__block {
    width: var(--calender-block-width);
    height: var(--calender-height);
    @include flex(start, center, var(--calender-block-gap, column));
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    &__text {
      width: var(--calender-text-width);
      line-height: var(--calender-text-line-height);
      font-weight: var(--calender-text-font-weight);
      color: var(--calender-text-color);
      scroll-snap-align: center;
      text-align: center;
      &--today {
        color: var(--calender-text-today-color);
        border-top: var(--calender-text-today-border-top);
        border-bottom: var(--calender-text-today-border-bottom);
      }
    }
  }
}

@media (max-width: var(--md)) {
  .calender {
    display: flex;
  }
}
