@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.calender {
  width: $calender-width;
  height: $calender-height;
  display: none;
  gap: $calender-gap;
  justify-content: center;
  align-items: center;

  &__block {
    width: $calender-block-width;
    height: $calender-height;
    @include flex(start, center, $calender-block-gap, column);
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    &__text {
      width: $calender-text-width;
      line-height: $calender-text-line-height;
      font-weight: $calender-text-font-weight;
      color: $calender-text-color;
      scroll-snap-align: center;
      text-align: center;
      &--today {
        color: $calender-text-today-color;
        border-top: $calender-text-today-border-top;
        border-bottom: $calender-text-today-border-bottom;
      }
    }
  }
}

@media (max-width: $md) {
  .calender {
    display: flex;
  }
}
