// Regular
@font-face {
  font-family: "peyda";
  src: url("../../fonts/Peyda/PeydaWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// Semi-bold
@font-face {
  font-family: "peyda";
  src: url("../../fonts/Peyda/PeydaWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

// Bold
@font-face {
  font-family: "peyda";
  src: url("../../fonts/Peyda/PeydaWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
